
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/Custome CSS/HovarEffect.css" rel="stylesheet" />

<div class="  ">
    <div class="col">



        <div class="row">
            <div class="col-md-4">
                <div class="card card-stats card-success font-weight-bold shadow" @*style="background:#59d05d;"*@>
                    <div class="card-body vivify popIn ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-search"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">

                                <div class="numbers ">
                                    <h1 class="card-title text-dark">Search Course</h1>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right card-stats ">
                        <a class="text-white text-right" href="/Stuhome/searchcourse">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats card-danger font-weight-bold shadow" @*style="background:#59d05d;"*@>
                    <div class="card-body vivify popIn">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class=" fa fa-book-open"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">

                                    <h1 class="card-title  text-dark">My Course</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right card-stats ">
                        <a class="text-white text-right" href="/stuhome/mycourse">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-stats card-warning font-weight-bold shadow" @*style="background:#59d05d;"*@>
                    <div class="card-body vivify popIn">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="fa fa-user-graduate"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">

                                    <h1 class="card-title  text-dark">Examination</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right card-stats ">
                        <a class="text-white text-right" href="/stuhome/myexam">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>



    </div>

</div>

<div class="card">
    <div class="card-header "  style="background-color:#C49F8A  ">
        <h1 class="card-title text-center text-dark">My Course</h1>

    </div>
    <div class="card-body">
        @{
            Html.RenderAction("MycoursePartial");


        }
    </div>
</div>


<div class="row row-card-no-pd">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center text-dark font-weight-bold" style="background:#DAF7A6;"><h4>Topic Like</h4></div>
            <div class="card-body">

                <div class="body-content">
                    @{
                        Html.RenderAction("myliketopic");
                    }
                </div>
            </div>
            <div class="card-footer text-center">
                <a href="/stuhome/MyAllliketopic">
                    <h6 >
                        <span title="Click to See All Courses You Like">My All Like Topic</span>
                        <span><i class="fa fa-thumbs-up"></i></span>
                    </h6>
                </a>
            </div>

        </div>
    </div>
    <div class="col-md-6">

        <div class="row ">
            <div class="col-12">
                <div class="card-header text-center text-dark font-weight-bold" style="background:#AADAD8 ;"><h4>Last Topic Watch</h4></div>
                <div class="card">
                    @{

                        Html.RenderAction("LastWatchTopicVideo");

                    }
                </div>
            </div>


            <!-- Force next columns to break to new line at md breakpoint and up -->
            <div class="w-100 d-none d-md-block"></div>

            <div class="col-12">
                <div class="card-header text-center text-dark font-weight-bold" style="background:#A6A7F7 ;"><h4>Last Course Buy</h4></div>
                <div class="card">
                    @{

                        Html.RenderAction("lastcoursebuy");

                    }
                </div>
            </div>

        </div>

    </div>

</div>

