@model IEnumerable<E_Learning.Models.StudentCourseRegistration>
@using E_Learning.Models;
@{
    ViewBag.Title = "MyExam";
}

<div class=" bg-warning text-capitalize  m-2 p-3 " style="border-radius:15px;">
    <h2 class="text-center text-capitalize text-dark vivify unfold"><i class="fa fa-question-circle"></i>My Examination</h2>
</div>
<hr />


<div class="container-fluid ">

    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-body">
                    <table class="table table-hover ">
                        <tr class="text-center" style="background:#AADAD8 ;">
                            <th class="text-left">
                                <label>
                                    @Html.DisplayNameFor(model => model.Course.Cname)
                                </label>
                            </th>
                            <th class="text-center"><label>Action</label></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-left">
                                    <h5>
                                        <span>
                                            @(Html.DisplayFor(model => item.Course.Cname) + "(" + Html.DisplayFor(model => item.Course.Clevel) + ")")
                                        </span>
                                    </h5>

                                </td>
                                <td class="text-center ">

                                    @{
                                        var flag = 0;


                                        foreach (var item1 in ViewData["ansr"] as List<E_Learning.Models.AnswerDetails>)
                                        {

                                            if (item1.CourseId == item.CourseId)
                                            {
                                                flag = 1;
                                                <label> @Html.ActionLink("Result", "MarksDetail", new { controller = "Exam", id = item.CourseId }, new { @class = "btn btn-outline-success" }) </label>
                                                break;
                                            }


                                        }
                                        if (flag == 0)
                                        {
                                            @Html.ActionLink("Exam Start", "Index", new { controller = "Exam", id = item.CourseId }, new { @class = "btn btn-outline-danger" })
                                        }
                                    }
                                    <div class="dropdown-divider"></div>
                                </td>






                            </tr>
                        }

                    </table>
                </div>
                </div>
            </div>
</div>
    </div>

