
@{
    ViewBag.Title = "Index";
}

    
<div class="  ">
    <div class="col">



        <div class="row">
            <div class="col-md-3">
                <div class="card card-stats card-success font-weight-bold shadow" @*style="background:#59d05d;"*@>
                    <div class="card-body vivify popIn ">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-book"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                
                                <div class="numbers">
                                    <h1 class="card-title text-dark">Create Course</h1>
                                    <h1 class="card-title"> @ViewBag.coursecount</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right card-stats ">
                        <a class="text-white text-right" href="/courseadd/create">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger font-weight-bold shadow" @*style="background:#59d05d;"*@>
                    <div class="card-body vivify popIn">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class=" fa fa-photo-video"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                   
                                    <h1 class="card-title  text-dark">Add Topic</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right card-stats ">
                        <a class="text-white text-right" href="/topiclist/index">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-warning font-weight-bold shadow" @*style="background:#59d05d;"*@>
                    <div class="card-body vivify popIn">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="la la-question"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                   
                                    <h1 class="card-title  text-dark">Add Question</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right card-stats ">
                        <a class="text-white text-right" href="/topiclist/index?addquestion=1">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-stats card-danger font-weight-bold shadow" @*style="background:#59d05d;"*@>
                    <div class="card-body vivify popIn">
                        <div class="row">
                            <div class="col-5">
                                <div class="icon-big text-center">
                                    <i class="fa fa-book-open"></i>
                                </div>
                            </div>
                            <div class="col-7 d-flex align-items-center">
                                <div class="numbers">
                                    <h1 class="card-title  text-dark">My Course</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right card-stats ">
                        <a class="text-white text-right" href="/tutor/tutorcourse">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

      

    </div>

</div>

<div class="card">
    <div class="card-header bg-info">
        <h1 class="card-title text-center">My Course</h1>
        
    </div>
    <div class="card-body">
        @{
            Html.RenderAction("partialIndex");
           
            
        }
    </div>
</div>

<div class="row row-card-no-pd">
    <div class="col-md-6" >
        <div class="card">
            <div class="card-header text-center text-dark font-weight-bold" style="background:#DAF7A6;"><h4>Top Liked Courses</h4></div>
            <div class="card-body">
              
               <div class="body-content">
                   @{
                       Html.RenderAction("partialLike");
                   }
               </div>
            </div>
            
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center text-dark font-weight-bold" style="background:#DAF7A6;"><h4>Top Views</h4></div>
            @{

                Html.RenderAction("TotalTopicLike");

            }
        </div>
    </div>
   
</div>